P {
    font-style: italic;
}
article p{
    font-size: x-small;
}
article > p{
    color: red;
}

article > section > p:last-child{
    font-weight: bold;
}
article > section > p{
    color: blue;
}
